@page "/data_analizys"
<h3>DataAnalizys</h3>
<head>


</head>
<body>
	<div class="infobox">
		<div class="portfolio">

			<div class="" id="lineCanvas">
				Картиночка
			</div>
			<div class="text">
				<label>
					имя
				</label>
				<label>
					фамилия
				</label>
				<label>
					должность
				</label>
				
			</div>

		</div>
		<div>
			<div>
				описание
			</div>
			<div>
				Графики 
				<div class="pie" style="--p:40"> 40%</div>
				<div class="pie" style="--p:40"> 40%</div>
				<div class="pie" style="--p:40"> 40%</div>
				<div class="pie" style="--p:40"> 40%</div>
				
			</div>
		</div>




	</div>


</body>



@code {

}
